{% extends "_layout.html" %} {% block content %}

<section class="hero is-medium" style="
    background: url('/img/powerlines.jpg') no-repeat center center fixed;
    background-size: cover;
  ">
    <!-- Hero head: will stick at the top -->
    <!--<div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <h1 class="title is-1">AA Consultancy</h1>
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroC">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                Home
                            </a>
                            <a class="navbar-item">
                                Examples
                            </a>
                            <a class="navbar-item">
                                Documentation
                            </a>
                            <span class="navbar-item">
                                <a class="button is-success is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Download</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>-->

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-light">
                AA Consultancy
            </h1>
            <h2 class="subtitle has-text-light">
                Specialist Project Management Consultant
            </h2>
            <p class="p-6">
                <a class="button is-link is-rounded is-large m-3" href="/#contact-us">
                    <span>Get In Touch</span>
                </a>
            </p>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <!-- <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>Modifiers</a></li>
                        <li><a>Grid</a></li>
                        <li><a>Elements</a></li>
                        <li><a>Components</a></li>
                        <li><a>Layout</a></li>
                    </ul>
                </div>
            </nav>
        </div> -->
</section>

<section id="about-us" class="has-background-link-light py-6">
    <div class="container px-6 py-6">
        <h2 class="subtitle is-2 has-text-centered mb-6">About</h2>
        <div class="columns is-centered">
            <div class="column is-4">
                <p class="my-3">
                    <strong>AA Consultancy</strong> is a specialist project management
                    business operating within the Electricity Supply Industry.
                </p>

                <p class="my-3">
                    With the requisite experience to steer a project from scope to
                    completion and the ability to interact and negotiate with stakeholders
                    across the business adopting the Project Management Body of Knowledge
                    (PMBOK).
                </p>
            </div>
            <div class="column is-1"></div>
            <div class="column is-4">
                <figure class="image">
                    <img class="has-ratio" src="{{ get_url(path="/img/windfarm.webp", cachebust=true) }}" width="300" alt="Windfarm" />
                </figure>
            </div>
        </div>

    </div>
</section>

<section id="about-us" class="has-background-info">
    <div class="container px-6 py-6">
        <h2 class="subtitle is-2 has-text-light has-text-centered mb-6">Key Capablities</h2>
        <div class="columns is-multiline my-6">
            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-tasks fa-2x mr-4 is-pulled-left"></i>
                                Executive Management of the Project
                            </h3>
                            <ul class="bd-focus-text mb-2">
                                <li>Project Initiation</li>
                                <li>Project Planning</li>
                                <li>Project Execution</li>
                                <li>Project Monitoring and Controlling, and</li>
                                <li>Project Closing</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-two-thirds">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-user-tie fa-2x mr-4 is-pulled-left"></i>
                                Executive Management of the Project
                            </h3>
                            <ul class="bd-focus-text is-pulled-left">
                                <li>Project Integration Management</li>
                                <li>Project Scope Management</li>
                                <li>Project Time Management</li>
                                <li>Project Cost Management</li>
                                <li>Project Quality Management</li>
                                <li>Project Human Resource Management</li>
                            </ul>
                            <ul class="bd-focus-text is-pulled-right">
                                <li>Project Communications Management</li>
                                <li>Project Risk Management</li>
                                <li>Project Procurement Management, and</li>
                                <li>Project Stakeholder Management</li>
                                <li>Project Contract Management</li>
                                <li>Project Design and Contractor Management</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-users fa-2x mr-4 is-pulled-left"></i>
                                Building a project team
                                <br /><br />
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-project-diagram fa-2x mr-4 is-pulled-left"></i>
                                Developing a project execution strategy
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-edit fa-2x mr-4 is-pulled-left"></i>
                                Writing project execution plans
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-half">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-hands-helping fa-2x mr-4 is-pulled-left"></i>
                                Assisting in tendering and bidding management
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-half">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-file-alt fa-2x mr-4 is-pulled-left"></i>
                                Writing project processes and procedures
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-user-check fa-2x mr-4 is-pulled-left"></i>
                                Auditing projects
                                <br /><br />
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-chalkboard-teacher fa-2x mr-4 is-pulled-left"></i>
                                Project crisis management and strategy
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-one-third">

                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content py-5">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-tools fa-2x mr-4 is-pulled-left"></i>
                                Project scoping and constructability
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>

<section id="profile" class="has-background-link-light py-6">
    <div class="container px-6 py-6">
        <h2 class="subtitle is-2 has-text-centered mb-6">Profile</h2>
        <div class="card is-pulled-left mr-5 my-3">
            <div class="card-image">
                <figure class="image">
                    <img class="has-ratio" src="{{ get_url(path="/img/jog-limbu.jpg", cachebust=true) }}" alt="Jog Prasad Limbu" />
                </figure>
            </div>
        </div>
        <p class="my-3">
            <strong>Jog Limbu</strong> is a highly qualified, well regarded professional project manager in the
            electricity supply industry with over 30 years’ experience. He is a results-focused,
            collaborative Major Project Manager with a proven track-record in building project teams and
            operational management to deliver multimillion-dollar projects across energy, utilities, Global
            Tier 1 Contractors, within Transmission and Distribution networks throughout Australia, New
            Zealand and Asia.
        </p>

        <p class="my-3">
            He is passionate in delivering high value Design & Builds when it comes to Major Projects in Substations,
            Transmission and Distribution Infrastructure. He is a result driven project manager.
        </p>
        <p class="my-3">
            He is resilient and has a “can do” and “make it happen” attitude with a consultative and collaborative
            approach.
        </p>

        <br />
        <h3 class="subtitle is-5 mb-3"><strong>Key Skills</strong></h3>
        <div class="tags">
            <span class="tag is-medium">Leadership</span>
            <span class="tag is-medium">Project Management</span>
            <span class="tag is-medium">Project Delivery Strategy</span>
            <span class="tag is-medium">Safety Leadership</span>
            <span class="tag is-medium">Team-buliding</span>
            <span class="tag is-medium">Budget and Cost Management</span>
            <span class="tag is-medium">Contract Management</span>
            <span class="tag is-medium">Stakeholder Management</span>
            <span class="tag is-medium">Change Management</span>
            <span class="tag is-medium">Bid Management</span>
        </div>

        <div class=" is-pulled-left mr-6">
            <h3 class="subtitle is-5 mb-2"><strong>Professional Experience</strong></h3>
            <table class="table has-background-link-light">
                <tbody>
                    <tr>
                        <td>Independent Consultant in Project Management </td>
                        <td>2019 – To Date</td>
                    </tr>
                    <tr>
                        <td>Senior Project Manager – Major Projects, Ventia Pty Ltd</td>
                        <td>2018 – 2019</td>
                    </tr>
                    <tr>
                        <td>Manager - Major Projects and Program, United Energy (Utility)</td>
                        <td>2011 – 2018</td>
                    </tr>
                    <tr>
                        <td>Manager Projects Delivery, Zinfra (Jemena)</td>
                        <td>2009 - 2011</td>
                    </tr>
                    <tr>
                        <td>Manager Projects Delivery, Transfield Services</td>
                        <td>2004 - 2009</td>
                    </tr>
                    <tr>
                        <td>Senior Project Manager, AREVA Transmission & Distribution Australia</td>
                        <td>2000 - 2004 </td>
                    </tr>
                    <tr>
                        <td>Project Manager / Power System Engineer, GEC ALSTOM, NZ</td>
                        <td>1991 - 2000 </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 class="subtitle is-5 mb-2"><strong>Educational Achievements</strong></h3>
        <p>
        <ul class="content">
            <li>Master of Electrical Engineering, Power Systems</li>
            <li>Graduate Certificate in Business, Professional Business Management</li>
            <li>Diploma of Project Management, Australian Institute of Project Management (AIPM)</li>
        </ul>

        <h3 class="subtitle is-5 mb-2"><strong>Professional Accreditation and Memberships</strong></h3>
        <ul class="content">
            <li>Practicing Project Director (CPPD), AIPM</li>
            <li>Member of AIPM</li>
        </ul>

    </div>
    </div>

    </div>
</section>

<section id="contact-us" class="has-background-light py-6">
    <div class="container py-6">
        <h2 class="subtitle is-2 has-text-centered mb-6">Contact</h2>
        <div class="columns is-centered is-multiline notification has-background-light px-0">
            <div class="column is-12-desktop is-12-tablet">
                <iframe class="box"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.959695282469!2d145.2190498153201!3d-37.861233479743824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63ea192d9486d%3A0x96d4fda4d825121b!2s14%20Kalinya%20Dr%2C%20Wantirna%20VIC%203152!5e0!3m2!1sen!2sau!4v1617520150739!5m2!1sen!2sau"
                    width="100%" height="440" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="column is-8-desktop is-12-tablet">
                <iframe class="box"
                    src="https://us1.list-manage.com/contact-form?u=6bbbbf26a06731f42d7f784fc&form_id=8b67f69c7b3ac13244898841547646a4"
                    width="100%" height="1090" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock content %}