{% extends "_layout.html" %} {% block content %}

<section class="hero">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="has-text-centered">
            <h1 class="title has-text-light is-spaced">
                AA Consultancy
            </h1>
            <h2 class="subtitle has-text-light">
                Specialist Project Management Consultant
            </h2>

            <div class="bd-best">
                <div class="bd-best-list">
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/transmission.jpg", cachebust=true) }}"
                            alt="Transmission Lines">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/renewables.webp", cachebust=true) }}" alt="Renewable Energy">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/substation.webp", cachebust=true) }}" alt="Substation">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/transformer.jpg", cachebust=true) }}" alt="Transformer">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/solar.jpg", cachebust=true) }}" alt="Solar">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/windfarm.webp", cachebust=true) }}" alt="Windfarm">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/powerlines.webp", cachebust=true) }}" alt="Transmission Lines">
                    </article>

                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/transmission.jpg", cachebust=true) }}"
                            alt="Transmission Lines">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/renewables.webp", cachebust=true) }}" alt="Renewable Energy">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/substation.webp", cachebust=true) }}" alt="Substation">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/transformer.jpg", cachebust=true) }}" alt="Transformer">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/solar.jpg", cachebust=true) }}" alt="Solar">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/windfarm.webp", cachebust=true) }}" alt="Windfarm">
                    </article>
                    <article class="bd-best-item">
                        <img src="{{ get_url(path="/img/powerlines.webp", cachebust=true) }}" alt="Transmission Lines">
                    </article>
                </div>
            </div>

            <a class="button is-link is-rounded is-large" href="/#contact-us">
                <span>Get In Touch</span>
            </a>
        </div>
    </div>
</section>

<section id="about-us" class="has-background-link-light py-6">
    <div class="container px-6 py-6">
        <h2 class="subtitle is-2 has-text-centered mb-6">About</h2>
        <div class="columns is-centered">
            <div class="column is-4">
                <p class="my-3">
                    <strong>AA Consultancy</strong> is a specialist project management
                    business operating within the Electricity Supply Industry.
                </p>

                <p class="my-3">
                    With the requisite experience to steer a project from scope to
                    completion and the ability to interact and negotiate with stakeholders
                    across the business adopting the Project Management Body of Knowledge
                    (PMBOK).
                </p>
            </div>
            <div class="column is-1"></div>
            <div class="column is-4">
                <figure class="image">
                    <img class="has-ratio" src="{{ get_url(path="/img/windfarm.webp", cachebust=true) }}" width="300"
                        alt="Windfarm" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="has-background-info">
    <div class="container px-6 py-6">
        <h2 class="subtitle is-2 has-text-light has-text-centered mb-6">
            Key Capablities
        </h2>
        <div class="columns is-multiline my-6">
            <div class="column is-one-third">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-tasks fa-2x mr-4 is-pulled-left"></i>
                                Executing the project management process from scope to
                                completion
                            </h3>
                            <ul class="bd-focus-text mb-2">
                                <li>Project Initiation</li>
                                <li>Project Planning</li>
                                <li>Project Execution</li>
                                <li>Project Monitoring and Controlling</li>
                                <li>Project Closing</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-two-thirds">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-user-tie fa-2x mr-4 is-pulled-left"></i>
                                Executive Management of the Project
                            </h3>
                            <ul class="bd-focus-text is-pulled-left">
                                <li>Project Integration Management</li>
                                <li>Project Scope Management</li>
                                <li>Project Time Management</li>
                                <li>Project Cost Management</li>
                                <li>Project Quality Management</li>
                                <li>Project Human Resource Management</li>
                            </ul>
                            <ul class="bd-focus-text is-pulled-right">
                                <li>Project Communications Management</li>
                                <li>Project Risk Management</li>
                                <li>Project Procurement Management</li>
                                <li>Project Stakeholder Management</li>
                                <li>Project Contract Management</li>
                                <li>Project Design and Contractor Management</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-users fa-2x mr-4 is-pulled-left"></i>
                                Building a project team
                                <br /><br />
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-project-diagram fa-2x mr-4 is-pulled-left"></i>
                                Developing a project execution strategy
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-edit fa-2x mr-4 is-pulled-left"></i>
                                Writing project execution plans
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-5">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-hands-helping fa-2x mr-4 is-pulled-left"></i>
                                Assisting in tendering, bidding and tender evaluation management
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-file-alt fa-2x mr-4 is-pulled-left"></i>
                                Writing project processes and procedures
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-3">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-user-check fa-2x mr-4 is-pulled-left"></i>
                                Auditing projects
                                <br /><br />
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-chalkboard-teacher fa-2x mr-4 is-pulled-left"></i>
                                Project crisis management and strategy
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-tools fa-2x mr-4 is-pulled-left"></i>
                                Project scoping and constructability
                            </h3>
                        </div>
                    </div>
                </article>
            </div>

            <div class="column is-4">
                <article class="media notification has-background-link-light has-text-dark bd-focus-item">
                    <div class="media-content">
                        <div class="content pt-3 pb-1">
                            <h3 class="subtitle is-5 has-text-info">
                                <i class="fas fa-user-cog fa-2x mr-4 is-pulled-left"></i>
                                Management of Testing and Commissioning
                            </h3>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section id="profile" class="has-background-link-light py-6">
    <div class="container px-6 py-6">
        <h2 class="subtitle is-2 has-text-centered mb-6">
            Profile
        </h2>

        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{ get_url(path="/img/jog-limbu.jpg", cachebust=true) }}"
                                alt="Jog Prasad Limbu" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content py-1 has-text-centered">
                                <p class="title is-4">Project Director</p>
                                <p class="subtitle is-5">Jog Limbu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-9">
                <p class="">
                    <strong>Jog Limbu</strong> is a highly qualified, well regarded
                    professional project manager in the electricity supply industry with
                    over 30 years’ experience. He is a results-focused, collaborative
                    Major Project Manager with a proven track-record in building project
                    teams and operational management to deliver multimillion-dollar
                    projects across energy, utilities, Global Tier 1 Contractors, within
                    Transmission and Distribution networks throughout Australia, New
                    Zealand and Asia.
                </p>

                <p class="my-3">
                    He is passionate in delivering high value Design & Builds when it
                    comes to Major Projects in Substations, Transmission and Distribution
                    Infrastructure. He is a result driven project manager.
                </p>
                <p class="my-3">
                    He is resilient and has a “can do” and “make it happen” attitude with
                    a consultative and collaborative approach.
                </p>

                <h3 class="subtitle is-5 mb-3"><strong>Key Skills</strong></h3>
                <div class="column is-9 tags">
                    <span class="tag is-medium has-background-warning-light">Leadership</span>
                    <span class="tag is-medium has-background-warning-light">Project Management</span>
                    <span class="tag is-medium has-background-warning-light">Project Delivery Strategy</span>
                    <span class="tag is-medium has-background-warning-light">Safety Leadership</span>
                    <span class="tag is-medium has-background-warning-light">Team-buliding</span>
                    <span class="tag is-medium has-background-warning-light">Budget and Cost Management</span>
                    <span class="tag is-medium has-background-warning-light">Contract Management</span>
                    <span class="tag is-medium has-background-warning-light">Stakeholder Management</span>
                    <span class="tag is-medium has-background-warning-light">Change Management</span>
                    <span class="tag is-medium has-background-warning-light">Bid Management</span>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                <h3 class="subtitle is-5 mb-2">
                    <strong>Professional Experience</strong>
                </h3>
                <table class="table has-background-link-light">
                    <tbody>
                        <tr>
                            <td>Independent Consultant in Project Management</td>
                            <td>2019 – To Date</td>
                        </tr>
                        <tr>
                            <td>Senior Project Manager – Major Projects, Ventia Pty Ltd</td>
                            <td>2018 – 2019</td>
                        </tr>
                        <tr>
                            <td>
                                Manager - Major Projects and Program, United Energy (Utility)
                            </td>
                            <td>2011 – 2018</td>
                        </tr>
                        <tr>
                            <td>
                                Manager Projects Delivery, Transmission & Distribution (T & D),
                                Zinfra (Jemena)
                            </td>
                            <td>2009 - 2011</td>
                        </tr>
                        <tr>
                            <td>Manager Projects Delivery, T & D Transfield Services</td>
                            <td>2004 - 2009</td>
                        </tr>
                        <tr>
                            <td>Senior Project Manager, AREVA T & D Australia</td>
                            <td>2000 - 2004</td>
                        </tr>
                        <tr>
                            <td>
                                Project Manager / Power System Engineer, T & D GEC ALSTOM, NZ
                            </td>
                            <td>1991 - 2000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column is-4">
                <h3 class="subtitle is-5 mb-2">
                    <strong>Educational Achievements</strong>
                </h3>
                <p></p>
                <ul class="content">
                    <li>Master of Electrical Engineering, Power Systems</li>
                    <li>
                        Graduate Certificate in Business, Professional Business Management
                    </li>
                    <li>
                        Diploma of Project Management, Australian Institute of Project
                        Management (AIPM)
                    </li>
                </ul>

                <h3 class="subtitle is-5 mb-2">
                    <strong>Professional Accreditation and Memberships</strong>
                </h3>
                <ul class="content">
                    <li>Practicing Project Director (CPPD), AIPM</li>
                    <li>Member of AIPM</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact-us" class="has-background-light py-6">
    <div class="container py-6">
        <h2 class="subtitle is-2 has-text-centered mb-6">Contact</h2>
        <div class="columns is-centered is-multiline notification has-background-light">
            <div class="column is-6-desktop is-12-tablet">
                <div class="box">
                    <p class="subtitle is-5">
                        <br />
                        <strong>Mr Jog Limbu <br /> Project Director </strong>
                    </p>
                    <p class="subtitle is-5">
                        <strong>AA Consultancy</strong> <br />
                        14 Kalinya Dr <br />
                        Wantirna VIC 3152 <br />
                        Australia
                    </p>
                    <p class="subtitle is-5">
                        Phone: <a href="tel:+61433725749">0433 725 749</a> <br />
                        Email: <a href="mailto:jog.limbu@aaconsultancy.net.au">jog.limbu@aaconsultancy.net.au</a> <br />
                        Webiste: <a href="https://aaconsultancy.net.au">www.aaconsultancy.net.au</a>
                    </p>
                    <div class="field is-grouped">
                        <a class="button is-link is-rounded" href="tel:+61433725749">
                            <span class="icon">
                                <i class="fas fa-phone-alt"></i>
                            </span>
                            <span>0433 725 749</span>
                        </a>
                        <a class="has-text-link ml-3" href="mailto:jog.limbu@aaconsultancy.net.au">
                            <span class="icon ml-3 mt-2">
                                <i class="far fa-envelope fa-2x"></i>
                            </span>
                        </a>
                        <a class="has-text-link" target="_blank"
                            href="https://www.linkedin.com/company/aa-consultancy-au">
                            <span class="icon ml-3 mt-2">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </span>
                        </a>
                    </div>
                    <br />
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6299.985318187228!2d145.22003737038258!3d-37.860462188569244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37107b5eaeb50bd8!2sAA%20Consultancy!5e0!3m2!1sen!2sau!4v1618905157349!5m2!1sen!2sau"
                        width="100%" height="500" frameborder="0" style="border: 0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="column is-6-desktop is-tablet-12">

                <iframe class="box"
                    src="https://us1.list-manage.com/contact-form?u=6bbbbf26a06731f42d7f784fc&form_id=8b67f69c7b3ac13244898841547646a4"
                    width="100%" height="950" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

            </div>
        </div>
    </div>
</section>

{% endblock content %}